*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    background: url("../images/xk.jpg") no-repeat center;
    background-size: cover;
}
.main{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 1000px;
}
.box1,.box2,.box3,.box4{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform-style: preserve-3d;

}
.box1{
    animation: box4r 3s linear infinite;

}
.circal span{
    position: absolute;
    height: 400px;
    width: 400px;
    border: 2px solid #fffc00;
    border-radius: 50%;
    box-shadow: 3px 3px 25px rgba(255,255,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.box2{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: aqua 2px solid;
    animation: box4r 3s linear infinite;

}
.box3{
    width: 680px;
    height: 680px;
    border-radius: 50%;
    border: #00dbbf 2px solid;
    animation: box4r 3s linear infinite;

}
.box4{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: #f40034 2px solid;
    animation: box4r 3s linear infinite;
}
.box2 span{
     width: 80px;
     height: 80px;
     top: 510px;
     left: 200px;
     border-color: #0000db;
     box-shadow: 2px 2px 15px rgba(0,0,210,0.5);
 }
.box3 span{
    width: 60px;
    height: 60px;
    top: -628px;
    left: 200px;
    border-color: #0000db;
    box-shadow: 2px 2px 15px rgba(0,0,210,0.5);
}
.box4 span{
    width: 60px;
    height: 60px;
    top: -528px;
    left: -600px;
    border-color: #f40034;
    box-shadow: 2px 2px 15px rgba(244,0,52,0.5);
}
@keyframes box4r {
    0%{
        transform: rotateX(57deg) rotateY(-16deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(57deg) rotateY(-16deg) rotateZ(360deg);
    }
}
.circal span:nth-child(2){
    transform: rotateY(40deg);
}
.circal span:nth-child(3){
    transform: rotateY(80deg);
}
.circal span:nth-child(4){
    transform: rotateY(120deg);
}
.circal span:nth-child(5){
    transform: rotateY(160deg);
}
.circal span:nth-child(6){
    transform: rotateY(200deg);
}
.circal span:nth-child(7){
    transform: rotateY(240deg);
}
.circal span:nth-child(8){
    transform: rotateY(280deg);
}
.circal span:nth-child(9){
    transform: rotateY(360deg);
}
.circal span:nth-child(11){
    transform: rotateX(40deg);
}
.circal span:nth-child(12){
    transform: rotateX(80deg);
}
.circal span:nth-child(13){
    transform: rotateX(120deg);
}
.circal span:nth-child(14){
    transform: rotateX(160deg);
}
.circal span:nth-chilX(15){
    transform: rotateX(200deg);
}
.circal span:nth-child(16){
    transform: rotateX(240deg);
}
.circal span:nth-child(17){
    transform: rotateX(280deg);
}
.circal span:nth-child(18){
    transform: rotateX(360deg);
}
/*.box2 span{
    position: absolute;
    height: 400px;
    width: 400px;
    border: 2px solid #fffc00;
    border-radius: 50%;
    box-shadow: 5px 5px 50px rgba(255,255,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}*/

