*{
    margin: 0;
    padding: 0;
}

body{
    color: #555;
    background : #f9f9f9;
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.wrapper{
    width: 100%;
    
}
.container{
    padding-top: 54px;
    padding-bottom: 50px;
    background: #fff;
    width: 1068px;
    margin: 0 auto;
    
}

h1 img{
    padding-bottom: 40px;
    display: block;     /*  常见bug 不将img转成块 则会默认多出几个像素 */
    margin: 0 auto;
}

h2{
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}
.register-content{
    width: 332px;
    margin: 0 auto;
    padding-top: 30px;
}
h3{
    font-size: 14px;
    padding-bottom: 5px;
}
.select_country p {
    margin-bottom: 15px;
}

.country{
    font-size: 14px;
    color: #555;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border: #ccc 1px solid;
    margin-bottom: 10px;
}
.tel_input{
    font-size: 14px;
    color: #555;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border: #ccc 1px solid;
    margin-bottom: 15px;
}
.tel span{
    color: red;
    display: none;

}
.submit{
    margin-top: 15px;
    border: 0;
    width: 330px;
    height: 40px;
    background: #ff6700;
    color: #fff;
    cursor: pointer;
    
}
.submit:hover{
    background: #ff936a;
}
.privacy-box{
    width: 700px;
    margin: 0 auto;
}
.readme{
    
    text-align: center;
    color: #9d9d9d;
    margin-top: 40px;
}
.readme a{
    font-weight: bold;
}
.select-true{
    position: relative;
    top: 5px;
}
.agreeAlert{
    color: red;
    display: none;
}
.footer{
   text-align: center;
   color: #969696;
}
.footer a {
    color: #969696;
}
.footer a:hover {
    color: black;
}
.footer .active{
    color: black;
}
